///////bubbles-background//////
.bubbles {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
body {
  background: #000000;
  margin: 0;
}

$bubble-count: 50;
$sway-type: "sway-left-to-right", "sway-right-to-left";

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

@function sample($list) {
  @return nth($list, random(length($list)));
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -75%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay)
    ease-in infinite;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00db69;
    border-radius: inherit;
    animation: var(--bubble-sway-type) var(--bubble-sway-duration)
      var(--bubble-sway-delay) ease-in-out alternate infinite;
  }

  @for $i from 0 through $bubble-count {
    &:nth-child(#{$i}) {
      --bubble-left-offset: #{random_range(0vw, 100vw)};
      --bubble-radius: #{random_range(1vw, 10vw)};
      --bubble-float-duration: #{random_range(15s, 20s)};
      --bubble-sway-duration: #{random_range(4s, 6s)};
      --bubble-float-delay: #{random_range(0s, 4s)};
      --bubble-sway-delay: #{random_range(0s, 4s)};
      --bubble-sway-type: #{sample($sway-type)};
    }
  }
}

@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}

@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

///////login-container//////
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: #2e2e2e;
  border-radius: 10px;
  height: 400px;
  z-index: 1;
}

.title {
  color: #fff;
  font-size: 20px;
  font-weight: 1000;
  font-family: "Montserrat";
  letter-spacing: 2px;
}

.input_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 300px;
  height: 100px;
}

.input_user {
  color: #fff;
  font-family: "Montserrat";
  background-color: #2e2e2e;
  width: 80%;
  height: 35%;
  border: 2px solid #aaa;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: #00db69;
  box-shadow: 0 0 8px 0 #00db69;
}

.form_remember {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

p {
  font-size: 13px;
  font-family: "Montserrat";
  color: #ffff;
}

.btn_login {
  border: 0px;
  background-color: #00db69;
  color: #000;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  width: 150px;
  height: 45px;
  border-radius: 70px;
  transition-duration: 0.4s;
}

.btn_login:hover {
  animation: shadow-pulse 1000ms 1;
  background-color: #00db69;
  color: #434343;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(32, 226, 215, 0.6);
  }
  100% {
    box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
  }
}
