////////Side-menu//////////
aside {
  color: #fff;
  overflow: hidden;
  width: 220px;
  padding-left: 20px;
  height: 100vh;
  background-color:#2e2e2e;
  border-top-right-radius: 20px;
}

aside a {
  font-size: 14px;
  font-family:"Montserrat";
  color: #fff;
  display: block;
  padding: 20px;
  padding-left: 30px;
  text-decoration: none;
  -webkit-tap-highlight-color:transparent;
}

aside a:hover {
  color: #000;
  font-weight: bold;
  background: #00db69;
  font-size: 14px;
  font-family:"Montserrat";
  outline: none;
  position: relative;
  background-color: #00db69;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: color 0.2s linear 0.1s;
}

aside a i {
  margin-right: 5px;
}

aside a:hover::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 #00db69;
  
}

aside a:hover::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 38px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #00db69;
}

aside p {
  margin: 0;
  padding: 40px 0;
}

body {
  font-family: 'Roboto';
  width: 100%;
  height: 100vh;
  margin: 0;
}

.options{
margin-top:0px;
}

////////Avatar//////////
  .avatar {
  margin-inline: 60px;
  margin-top:40px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 70px;
  background: #ddd;
  -webkit-border-radius: 50%;
  border-radius: 50%
}

.avatar:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 70%;
  height: 44%;
  margin: 0 0 0 -35%;
  background: #989898;
  -webkit-border-radius: 100% 100% 0 0;
  border-radius: 100% 100% 0 0
}

.avatar:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 19%;
  width: 40%;
  height: 40%;
  margin: 0 0 0 -20%;
  background: #989898;
  -webkit-box-shadow: 0 0 0 4px #DCDCDC;
  box-shadow: 0 0 0 4px #DCDCDC;
  -webkit-border-radius: 50%;
  border-radius: 50%
}

.avatar img {
  position: relative;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 10
}

.user{
font-weight:bold;
font-size:14px;
font-family:"Montserrat";
margin-left:67px;
margin-top:-20px;

}

.Principal-logo{
height: 150px;
margin-left: 30px;
}