.bubbles {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .btn-rol-estudiante {
    background-color:#2E2E2E;
    border: 2px solid #00db69;
    color:#fff;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: bold;
    width: 110px;
    height: 110px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition-duration: 0.4s;
  }
  
  .btn-rol-docente {
    background-color:#2E2E2E;
    border: 2px solid #00db69;
    color:#fff;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: bold;
    width: 110px;
    height: 110px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition-duration: 0.4s;
  }
  
  .btn-rol-estudiante:hover {
    background-color: #00db69;
    color: #000000;
  }
  
  .btn-rol-docente:hover {
    background-color: #00db69;
    color: #000000;
  }
  
  .container {
    text-align: center;
    background-color: #2E2E2E;
    border-radius: 10px;
    display: inline-block;
    height: 400px;
    padding: 5px;
    z-index: 1
  }
  
  .container-buttons {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    margin-top: 40px;
    padding: 5px;
  }
  
  /* App-tittle */
  .title {
    color:#fff;
    font-size: 20px;
    font-weight: 1000;
    font-family: "Montserrat";
    letter-spacing:2px;
    padding-top: 10px;
  }
  
  /* Logo */
  .Principal-logo {
    height: 300px;
    margin-top: -40px;
  }
  
  
  /*bubbles*/
  body {
    background: #000000;
    margin: 0;
  }
  
  $bubble-count: 50;
  $sway-type: "sway-left-to-right", "sway-right-to-left";
  
  @function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
  }
  
  @function sample($list) {
  @return nth($list, random(length($list)));
  }
  
  .bubble {
    position: absolute;
    left: var(--bubble-left-offset);
    bottom: -75%;
    display: block;
    width: var(--bubble-radius);
    height: var(--bubble-radius);
    border-radius: 50%;
    animation: float-up var(--bubble-float-duration) var(--bubble-float-delay)
    ease-in infinite;
  
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: hsla(128, 75%, 40%, 0.877);
      border-radius: inherit;
      animation: var(--bubble-sway-type) var(--bubble-sway-duration)
      var(--bubble-sway-delay) ease-in-out alternate infinite;
    }
  
    @for $i from 0 through $bubble-count {
      &:nth-child(#{$i}) {
        --bubble-left-offset: #{random_range(0vw, 100vw)};
        --bubble-radius: #{random_range(1vw, 10vw)};
        --bubble-float-duration: #{random_range(15s, 20s)};
        --bubble-sway-duration: #{random_range(4s, 6s)};
        --bubble-float-delay: #{random_range(0s, 4s)};
        --bubble-sway-delay: #{random_range(0s, 4s)};
        --bubble-sway-type: #{sample($sway-type)};
      }
    }
  }
  
  @keyframes float-up {
    to {
      transform: translateY(-175vh);
    }
  }
  
  @keyframes sway-left-to-right {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(100%);
    }
  }
  
  @keyframes sway-right-to-left {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(-100%);
    }
  }
  
  